body {
    margin: 0;
    background: #1e161f;
}

.myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.navBar {
    position: absolute;
    z-index: 50;
}